/alire/
/benchmarks/alire/
/benchmarks/config/
/benchmarks/obj/
/benchmarks/bin/
/config/
/obj/
/lib/
/bin/
/build/
/docs/api/
/docs/gnatdoc/
/.build/
/benchmark-results/
*.ali
*.o
*.a
*.dSYM/
__pycache__/
